@import "variables";

@mixin avatar-s {
  width: 30px;
  height: 30px;
}

@mixin avatar-m {
  width: 80px;
  height: 80px;
}
@mixin avatar-l {
  width: 120px;
  height: 120px;
}
@mixin avatar-xl {
  width: 200px;
  height: 200px;
}

@mixin avatar-square {
  border-radius: none;
}

@mixin avatar-rounded {
  border-radius: 0.5vw;
}

@mixin avatar-circle {
  border-radius: 100%;
}

@mixin sunshine($color) {
  .modal-content-wrapper::-webkit-scrollbar {
    width: 12px;
  }
  .modal-content-wrapper::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  .modal-content-wrapper::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: $color;
  }
  header {
    background-color: $color;
  }

  button:first-of-type {
    border: 2px solid $color;
    color: $color;
    background-color: $color-primary;
  }

  button:last-of-type {
    background-color: $color;
    color: $color-primary;
    border: 2px solid $color;
  }
}

@mixin roasted-peppers($color) {
  .modal-content-wrapper::-webkit-scrollbar {
    width: 12px;
  }
  .modal-content-wrapper::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  .modal-content-wrapper::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: $color;
  }
  header {
    background-color: $color;
  }

  button:first-of-type {
    border: 2px solid $color;
    color: $color;
    background-color: $color-primary;
  }

  button:last-of-type {
    background-color: $color;
    color: $color-primary;
    border: 2px solid $color;
  }
}

@mixin deep-purple($color) {
  .modal-content-wrapper::-webkit-scrollbar {
    width: 12px;
  }
  .modal-content-wrapper::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  .modal-content-wrapper::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: $color;
  }

  header {
    background-color: $color;
  }

  button:first-of-type {
    border: 2px solid $color;
    color: $color;
    background-color: $color-primary;
  }

  button:last-of-type {
    background-color: $color;
    color: $color-primary;
    border: 2px solid $color;
  }
}

@mixin addGradient($color1, $color2) {
  background-image: linear-gradient(170deg, $color1, $color2);
}
