$color-primary: rgb(255, 243, 220);
$card-primary: rgb(68, 82, 83);
$text-secondary: rgb(112, 112, 112);
$text-light: rgb(99, 99, 99);

$sunshine: rgb(219, 133, 35);
$roasted-peppers: rgb(199, 44, 44);
$deep-purple: rgb(53, 48, 66);
$somethin: rgb(107, 0, 0);
