@import "../../styles/mixins";
@import "../../styles/variables";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.3rem;
  transition: box-shadow 0.4s ease-in-out;
  width: 23.52%;
  margin: 15px;
  margin-left: 0px;
  margin-top: 0px;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  outline: none;
  text-decoration: none;
  background-color: rgb(171, 200, 255);

  &-bar {
    background-color: $card-primary;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;

    &-avatar {
      border: 5px solid $card-primary;
      background-color: $card-primary;
      transition: transform 0.4s ease-in-out;
    }
  }

  &-info {
    padding: 45px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-name {
      margin-bottom: 5px;
    }
    &-position {
      color: $text-secondary;
      text-align: center;
    }
  }
}

.card:hover .card-bar-avatar {
  transform: rotate(-20deg);
}

.card:hover {
  box-shadow: 0px 0px 20px black;
}
