@import "../../styles/mixins";
@import "../../styles/variables";

.modal {
  display: flex;
  justify-content: center;
  min-width: 50%;
  height: 100%;
  background-color: aqua;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  &-content {
    width: 60%;
    height: 60vh;
    top: 20vh;
    background-color: red;
    position: absolute;
    left: 20%;
  }
  &-wrapper-close {
    width: 10px;
    height: 10px;
    background-color: blue;
  }
  &-wrapper-header {
  }
}

.show {
  display: flex;
}
